.Screen {
  width: 80vw;
  height: 75vh;
  position: relative;
  margin-left: 10vw;
  margin-top: 10vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "Empty Empty NameDiv Buttons";
}

.NameDiv {
  grid-area: NameDiv;
}

.ButtonBay {
  grid-area: Buttons;
}

.DevName {
  position: relative;
  top: 8vh;
  left: -2rem;
  font-size: 4rem;
}

.OcupationTitle {
  font-size: 3rem;
  position: relative;
  top: 10rem;
  left: 5rem;
}

.ScreenFolder {
  grid-area: NameDiv;
  position: absolute;
  margin-top: 2rem;
  width: 160%;
  height: 100%;
  left: -10vw;
}
