.Screen {
  width: 80vw;
  height: 75vh;
  position: relative;
  margin-left: 10vw;
  margin-top: 10vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "Empty Empty NameDiv Buttons";
}

.ButtonBay {
  grid-area: Buttons;
}

.NameDiv {
  grid-area: NameDiv;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200%;
  margin-left: -50%;
}

.DevName {
  position: relative;
  left: -5vw;
  font-size: 4rem;
}

.OcupationTitle {
  font-size: 3rem;
}

.ScreenFolder {
  grid-area: NameDiv;
  position: absolute;
  left: -30vw;
  margin-top: 2rem;
  width: 60vw;
  height: 60vh;
}

.ScreenTxt {
  grid-area: NameDiv;
  position: absolute;
  left: -20vw;
  margin-top: 1rem;
  width: 40vw;
  height: 60vh;
}
