.outsideTxt {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px rgba(95, 95, 95, 0.692) solid;
  color: black;
  z-index: 2;
}

.txtTopBar {
  width: 100%;
  height: 2rem;
  background-color: rgb(214, 214, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .txtIconTop {
    margin-left: 0.5rem;
    width: 1.2rem;
  }
  .txtTitle {
    margin-left: 1rem;
  }

  .txtClose {
    background-color: transparent;
    color: rgb(46, 46, 46);
    border: transparent;
    margin-right: 0.5rem;
    padding: 0.3rem;
    padding-top: 0.3rem;
  }
}
.leftTxtTopbar {
  display: flex;
}

.txtFullDownBox {
  width: calc(100%-0.5rem);
  height: 65vh;
  background-color: white;
  z-index: 2;
  padding-left: 0.5rem;
}

.txtBottomBar {
  width: 100%;
  height: 1.5rem;
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  z-index: 2;
}
