.outsideGalerie {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px rgba(95, 95, 95, 0.692) solid;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.GalerieTopBar {
  width: 100%;
  height: 2rem;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .GalerieIconTop {
    margin-left: 0.5rem;
    width: 1.2rem;
  }
  .GalerieTitle {
    margin-left: 1rem;
  }

  .GalerieClose {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: transparent;
    margin-right: 0.5rem;
    padding: 0.3rem;
    padding-top: 0.3rem;
  }
}
.leftGalerieTopbar {
  display: flex;
}

.GalerieFullDownBox {
  width: calc(100%-0.5rem);
  height: 65vh;
  background-color: rgb(29, 29, 29);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 90%;
  }
}
